<div class="main">
    <div class="limited text_align_center">
        <input type="hidden" data-bfmw-show-message data-bfmw-type="success" value="Chargement parfait !" data-bfmw-title="Message automatique au chargement !"/>
        <button id="show_error">Error</button><br/>
        <input  id="show_warning" type="button" value="warning"/><br/>
        <input  id="show_info" type="submit" value="info"/><br/>
        <input  id="show_success" type="submit" value="success"/><br/>
        <button disabled>test</button><br/>
        <input disabled type="button" value="test"/><br/>
        <input disabled type="submit" value="test"/>
    </div>
</div>
