<div class="main">
    <div class="limited">
        <ul data-bfmw-treeview>
            <li>
                Formation BUT Informatique
                <ul>
                    <li>
                        Année 1
                        <ul>
                            <li>UE Mathématiques</li>
                            <li>UE Développement Web</li>
                            <li>UE Communication</li>
                        </ul>
                    </li>
                    <li>
                        Année 2
                        <ul>
                            <li>SAE Application complète</li>
                            <li>Projet tutoré</li>
                        </ul>
                    </li>
                    <li>Année 3</li>
                </ul>
            </li>
            <li>
                Administration
                <ul>
                    <li>Étudiants</li>
                    <li>Enseignants</li>
                    <li>Scolarité</li>
                </ul>
            </li>
            <li>Documentation</li>
        </ul>

        <hr/>

        <h3>Compatibilité auto-hide</h3>
        <div class="bfmw_auto_hidder" data-bfmw="treeview-auto-hide-zone">Afficher les détails</div>
        <div id="treeview-auto-hide-zone">
            Le mode auto-hide reste disponible pour les composants existants.
        </div>
    </div>
</div>
