
<div class="main">
    <div class="master">
        <div class="filter">
            <select>
                <option value="1">1</option>
                <option value="1">1</option>
                <option value="1">1</option>
                <option value="1">1</option>
            </select><br/>
            <select>
                <option value="1">1</option>
                <option value="1">1</option>
                <option value="1">1</option>
                <option value="1">1</option>
            </select>
        </div>
        <div class="master_data">
            <!-- BEGIN un_etudiant -->
            <span id="{un_etudiant.ET_ID}">{un_etudiant.ET_NOM_DE_FAMILLE} {un_etudiant.ET_PRENOM}</span><br/>
            <!-- END un_etudiant -->
        </div>
    </div>
    <div class="detail">
        <a class="show_master" href="#">
            <img src="{BFMW_ASSETS_BASE}/fleche.png?bfmw_version_cache={BFMW_GLOBAL_DAYTIME}" class="show_master" alt="Menu">
        </a>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/><span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
        <span>BONJOUR</span><br/>
    </div>
</div>