
<header class="top_page">
    <nav class="menu">
        <a href=".." title="Retour au portail" class="not_menu return_image"><img class="return_image" src="images/home.png?bfmw_version_cache={BFMW_GLOBAL_DAYTIME}"/></a>
        <a href=".." title="Retour au portail" class="not_menu">Administration</a>
        <a href="#" class="responsive_menu"><img src="{BFMW_ASSETS_BASE}/menu.png?bfmw_version_cache={BFMW_GLOBAL_DAYTIME}" class="burger" alt="Menu"/></a>
        <a href="?p=Accueil" {ACTIVE_ACCUEIL}>Master/Detail</a>
        <a href="?p=Md" {ACTIVE_MD}>Master+filter/Detail</a>
        <a href="?p=Limited" {ACTIVE_LIMITED}>Limited</a>
        <a href="?p=Maximal" {ACTIVE_MAXIMAL}>Maximal</a>
        <a href="?p=Modal" {ACTIVE_MODAL} >Modal</a>
        <a href="?p=Forms" {ACTIVE_FORMS} >Forms</a>
        <a href="?p=TreeView" {ACTIVE_TREEVIEW}>TreeView</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
        <a href="?p=accueil" >Accueil</a>
    </nav>
</header>