# Auteur : Cédric BOUHOURS
# Ce code est mis à disposition selon les termes de la Licence Creative Commons Attribution
# Pas d'Utilisation Commerciale - Pas de Modification 4.0 International.
#
# Attribution — Vous devez créditer l'Œuvre, intégrer un lien vers la licence. Vous devez indiquer ces informations par tous les moyens raisonnables, sans toutefois suggérer que l'Offrant vous soutient ou soutient la façon dont vous avez utilisé son Oeuvre.
#
# Pas d’Utilisation Commerciale — Vous n'êtes pas autorisé à faire un usage commercial de cette Oeuvre, tout ou partie du matériel la composant.
#
# Pas de modifications — Dans le cas où vous effectuez un remix, que vous transformez, ou créez à partir du matériel composant l'Oeuvre originale, vous n'êtes pas autorisé à distribuer ou mettre à disposition l'Oeuvre modifiée.
#
# Pas de restrictions complémentaires — Vous n'êtes pas autorisé à appliquer des conditions légales ou des mesures techniques qui restreindraient légalement autrui à utiliser l'Oeuvre dans les conditions décrites par la licence.
DOSSIER_RACINE=.
DB_USER=0
DB_PWD=0
DB_DATABASE=0
DB_SERVER=0
APP_URL=0
ADE_TOKEN=0
LDAP_URI=0
LDAP_SERVEUR=0
LDAP_PORT=0
LDAP_LOGIN=0
LDAP_PWD=0
LOCALHOST=0
USER_DEV=0
ERROR_LOG_PATH=0
